# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DATABASE=nome_do_banco
NAME=nome_da_instancia

# Security
JWT_SECRET=sua_chave_secreta_aqui
JWT_REFRESH_SECRET=sua_chave_refresh_secreta_aqui

# Client / CORS
LOCALHOST_CLIENT=http://localhost:3000
LOCALHOST_NGROK=https://seu-ngrok-url.ngrok-free.app
